
<h2>
  {{expert.first_name}},
</h2>

<p>
  A new Jonny Ibiza client just requested a concierge matching your profile.
</p>

<p>
If you'd like to accept this client, click this link to accept:
</p>

<p>
  <a href="{{ link }}">{{ link }}</a> 
</p>

<p>
Remember: If you accept this client, you should be available to call him/her immediately upon matching to determine his/her needs.  And you should be available to service the client during his/her travel dates.
</p>

<p>
    New client details below:
</p>

<blockquote>
  {{ details }}
</blockquote>
