<h2>
  Hi <Customer Name>,
</h2>


<p>
  Thank you for visiting JonnyIbiza.com. We are excited to connect you with one of our many local experts so you can make the most out of your trip. Your account details are as follows:
</p>

<p>
  <div>
    Login: <Login ID>
  </div>

  <div>
    Password: <Password>
  </div>
  <p>
    Login at <a href="{{ url }}">{{ url }}</a>
  </p>
</p>



<p>
  If you have any questions, please feel free to reach out to us at
  <a href="mailto:mrwolf@jonnyibiza.com">mrwolf@jonnyibiza.com</a>.
</p>


<h4>Happy Travels!</h4>

<h4>Jonny Ibiza Team</h4>


<p>
  PS: Your email address has NOT be added to a mailing list, and will not be shared with any 3rd parties
</p>
